<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">

    <Properties>
        <Property name="logFilePath">/Users/sakaidashigeaki/src/github.com/ShigeakiSakaida/flea-marcket-batch-processor/flea-marcket-batch-processor/log/</Property>
        <Property name="logFormat">%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %highlight{%-6level} %c{5} %msg%n%</Property>
        <Property name="logFileFormat">%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %c{5} %msg%n%</Property>

        <!-- cunk完了件数 ログ-->
        <Property name="logFileName1">finished_chunk</Property>
        <Property name="logFilePathName1">${sys:logFilePath}finished_chunk/${sys:logFileName1}.log</Property>
        <Property name="logRollingFilePathName1">${sys:logFilePathName1}-%d{yyyy-MM-dd}.log.zip</Property>

        <!-- category null除外 ログ-->
        <Property name="logFileName2">null_items</Property>
        <Property name="logFilePathName2">${sys:logFilePath}null_items/${sys:logFileName2}.log</Property>
        <Property name="logRollingFilePathName2">${sys:logFilePathName2}-%d{yyyy-MM-dd}.log.zip</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${sys:logFormat}" charset="UTF-8"/>
        </Console>
        <!-- chunk完了件数 ログ ファイル -->
        <RollingFile name="FinishedChunk" fileName="${sys:logFilePathName1}" filePattern="${sys:logRollingFilePathName1}">
            <PatternLayout pattern="${sys:logFileFormat}" charset="UTF-8" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <!-- category null除外 ログ ファイル-->
        <RollingFile name="NullItems" fileName="${sys:logFilePathName2}" filePattern="${sys:logRollingFilePathName2}">
            <PatternLayout pattern="${sys:logFileFormat}" charset="UTF-8" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="com.example.CategoryBatch.Config.Listener.ChunkCountingListener" level="INFO" additivity="false">
            <AppenderRef ref="FinishedChunk"/>
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="com.example.CategoryBatch.Config.Processor.ItemCategoryCheckProcessor" level="INFO" additivity="false">
            <AppenderRef ref="NullItems"/>
        </Logger>
        <Logger name="springframework.boot.autoconfigure.batch.JobLauncherApplicationRunner" level="ERROR" />
        <Logger name="com.example.DemoApplication" level="ERROR"/>
        <Logger name="com.zaxxer.hikari" level="ERROR"/>
        <Logger name="org.springframework.boot.devtools.autoconfigure.OptionalLiveReloadServer" level="ERROR"/>
        <Logger name="org.springframework.batch.core" level="ERROR"/>
        <Logger name="org.springframework.context.support" level="ERROR"/>
    </Loggers>
</configuration>